:root {
    ---first-them-color: #fd7d1b;
    ---first-text-color: #d56a1c;
    ---second-them-color: #737477;
    ---third-them-color: #e6e8e8;
    ---fourth-them-color: #e9e9f5;
    ---slider-size: 35em;
}

body {
    font-family: sans-serif;
    font-size: 10px;
}

button {
    cursor: pointer;
}

.main_container {
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    padding: 0 10em;
}

.divider {
    border-bottom: .12em solid var(---third-them-color);
}

/* ---------- header ----------*/
.header {
    padding: 2em 0;
}

.header__nav_item {
    color: var(---second-them-color);
}

.header__avatar {
    width: 3em;
    height: 3em;
}

/* ---------- main ----------*/
.main {
    padding: 6em 4em;
}

/* ---------- slider ----------*/
.slider__photo_large {
    height: var(---slider-size);
    width: var(---slider-size);
    border-radius: 1em;
    margin-bottom: 2em;
}

.slider {
    width: var(---slider-size);
}

.slider__photo_medium {
    border-radius: 1em;
    width: 7em;
    height: 7em;
}

/* ---------- info ----------*/
.info__text_style {
    color: var(---second-them-color);
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 1.5rem 0;
}

.info__price_sale {
    font-size: 2rem;
    font-weight: bold;
}

.info__sale {
    color: var(---first-text-color);
    font-weight: bold;
    background-color: #f9ecdd;
    padding: .5em .7em;
    border-radius: .5em;
}

.info__price {
    margin-top: .5em;
    font-weight: bold;
    text-decoration: line-through;
    color: var(---second-them-color);
}

.info__btn_section {
    margin-top: 1.5em;
}

.info__button_count {
    background-color: var(---fourth-them-color);
    font-size: 1.5rem;
    font-family: monospace;
    color: var(---first-text-color);
    padding: .8rem;
    font-weight: bold;
    border-radius: .6rem 0 0 .6rem;
}

.info__button_count:last-child {
    border-radius: 0 .6rem .6rem 0;
}

.info__counter {
    background-color: var(---fourth-them-color);
    font-size: 1.5rem;
    font-family: monospace;
    padding: .8rem 1.6rem;
}

.info__add_btn {
    font-size: 1.5rem;
    padding: .8rem 3rem;
    color: white;
    background-color: var(---first-them-color);
    border-radius: .6rem;
}

/* ---------- common ----------*/
.flex {
    display: flex;
}

.flex__center {
    align-items: center;
}

.flex__center_space_between {
    align-items: center;
    justify-content: space-between;
}

.flex__gap_small {
    column-gap: 1.5em;
}

.flex__gap_medium {
    column-gap: 2.5em;
}

.flex__gap_large {
    column-gap: 4em;
}

.flex__gap_xl {
    column-gap: 6em;
}

.title_small {
    font-variant: all-small-caps;
    color: var(---first-text-color);
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.title_large {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
}


